.nav{
  display: flex;
  gap: 20px;
  background: black;
  padding: 15px 25px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.nav a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav a:hover{
  color: red;
}